@{
	ViewData["Title"] = "Купить электромобили из Китая в Минске недорого | FormulaEV.net";
	ViewData["Description"] = "Электромобили известных брендов: Tesla, Lixiang, Volkswagen, Xiaomi, Xpeng и др. Собственная платформа для оценки электромобилей. Реальные отзывы. Надежные электрокары по сниженной цене.";
	ViewData["activePage"] = "aboutusPage";
	Layout = "_Layout";
}

	<div class="statistica">
		<div class="container">
			<div class="statistica_holder">
				<div class="statistica_info">
					<div class="statistica_title">
						<h1>Электромобили из Китая</h1>
					</div>
					<div class="statistica_number">
                        <div class="number_item">
						    <span>100+ </span>
                            <span>отобранных автомобилей</span>
                        </div>
                        <div class="number_item">
						    <span>до 80 </span>
                            <span>дней срок поставки</span>
                        </div>
                        <div class="number_item">
						    <span>c 2021</span>
                            <span>года на рынке</span>
                        </div>
					</div>
					<div class="statistica_btn">
						<a href="@ViewData["pathPrefix"]passenger"><div class="statistica_button">Подобрать авто</div></a>
					</div>
				</div>
				<div class="statistica_img">
					<img src="images/news/VW.PNG" alt="" width="800">
				</div>
			</div>
		</div>
	</div>
	
	<section class="who_we2">
		<div class="container">
			<h1 class="headers">
				Кто мы такие?
			</h1>
			<div class="about_inner">
				
				<div class="about_item">
					<h2>Наша компания</h2>
					<p>
					ООО «Интеллект Трейдинг» - импортер подержанных электромобилей.
 					Мы создали Formula EV — сайт, на котором пользователи могут свободно оценивать электромобили.
					<br><br>
					Перед покупкой важно посмотреть не рекламные ролики, а проблемы, с которыми столкнулись реальные пользователи. Правильный выбор – это половина дела!Остальное оставьте нам: консультацию по модели автомобиля, заказ, финансирование, лизинг, логистику, таможенное оформление.
					<br><br>
					Кроме того, в ближайшее время мы предложим услуги быстрой 180 кВт зарядки в торговом центре Сеница.
					<br><br>
					Formula EV - выбирайте лучшее!
					</p>
				</div>
				<div class="about_item">
					<img src="images/background/company.png" alt="" >
				</div>
				
				<div class="about_item">
					<img src="images/background/showroom.png" alt="" >
				</div>
				 <div class="about_item">
					<h2>Наш шоурум</h2>
					<p>
					Шоурум работает с 10 до 20 ежедневно в ТЦ «Сеница». Приходите познакомиться с моделями вживую, получить консультацию по Вашему вопросу и пообщаться на тему рынка электромобилей.
					<br><br>
					Наши сотрудники из Китая с удовольствием Вам помогут!					
					</p>
				</div> 
				
			</div>
		</div>
	</section>

    <div style="background-color: #ffffff; width: 100%; padding-bottom: 40px; padding-top: 20px;">
		<div class="team_people">
			<div class= "headers2">
                Наша команда
			</div>
			<div id="team_block">
				<div class="team_photos">
					<img src="images/team/suyang.JPG" alt="">
					<div class="team_text">
						<div class="team_name">Линь Суян</div>
						<div class="team_description">Работа с Поставщиками и Экспортерами</div>
					</div>
				</div>
				<div class="team_photos">	
					<img src="images/team/anya.JPG" alt="">
					<div class="team_text">
						<div class="team_name">Анна Пинчук </div>
						<div class="team_description">Логистика, Клиенты</div>
					</div>
				</div>
				<div class="team_photos">
					<img src="images/team/darya.JPG" alt="">
					<div class="team_text">
						<div class="team_name">Дарья Кончиц</div>
						<div class="team_description">Менеджер по продажам, Дизайнер</div>
					</div>
				</div>
				<div class="team_photos">
					<img src="images/team/chun.JPG" alt="">
					<div class="team_text">
						<div class="team_name">ЧуньЧэн</div>
						<div class="team_description">Экспорт из Китая</div>
					</div>
				</div>
			</div>
		</div>
	</div>
