@{
    ViewData["Title"] = "Купить промышленные электромобили недорого - Цены в Минске";
	ViewData["Description"] = "Электромобили известных брендов: Tesla, BYD, Volkswagen, Xpeng, Cherry и др. Надежные электрокары по сниженной цене оптом и в розницу. Подбор и доставка. Финансовая поддержка. Гарантии. Страховка. Круглосуточная связь";
	ViewData["activePage"] = "commercialPage";
	Layout = "_Layout";
}

<div class="panel commercial">
    <h1>Промышленные авто</h1>
</div>
<div style="position: relative; margin-top: 7%; margin-bottom: 10px;">
    <div style="font-size: 20px; text-align: center;margin-bottom: 50px; top:50%; padding: 30px;">
        Актуальных предложений по промышленным автомобилям не размещено. Для заказа авто <a href="contact_us" style="text-decoration: underline;">свяжитесь с нами</a>.
    </div>
    <a class="main-button" href="passenger" style="display: block;">Легковые авто</a>
</div>