@{
	ViewData["Title"] = "Купить электромобили из Китая в Минске недорого | Связаться с нами ";
	ViewData["Description"] = "Связь с нами 24/7. Пишите, а лучше звоните, мы доступны всегда! Электромобили известных брендов: Tesla, Lixiang, Volkswagen, Xiaomi, Xpeng и др. в Минске";
	ViewData["activePage"] = "contact_usPage";
	Layout = "_Layout";
}


	<section class="contact_page">
		<div class="container">
			<h1 class="headers3">
				Контакты
			</h1>
			<div class="contact_inner">
				<div class="contact_item">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d973.5807877325742!2d27.50418152981076!3d53.83566256362331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd183f4119073%3A0x662f6af61a8167c2!2z0KLQpiDQodCV0J3QmNCm0JA!5e0!3m2!1sru!2sby!4v1707833167005!5m2!1sru!2sby" width="100%" height="100%" style="border:0; border-radius:15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<div class="contact_item">
					<h2>Телефон:</h2>
					<p><a href="tel:+375296208739">+375(29)6349842</a></p>
					<h2>Электронная почта:</h2>
					<p><a href="mailto:info@zubr-auto.by">info.itacar@gmail.com</a></p>
					<h2>Адрес:</h2>
					<p>г. Минск, ТЦ "Сеница"</p>
				</div>
			</div>
		</div>
	</section>

<div>	
<!-- <p id="cont_us_p">Свяжитесь с нами</p> -->
<div class="container">
	<div class="headers">
		Свяжитесь с нами
	</div>
    <form id="idform" class="form" method="POST" action="@ViewData["mailAddress"]">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Имя" required>
            <input type="email" name="email" class="form-control" placeholder="Электронная почта" required>
        </div>
        <div class="form-group">
            <input type="tel" name="phone" class="form-control" placeholder="Телефон">
            <input type="text" name="budget" class="form-control" placeholder="Ваш бюджет">
        </div>
        <div class="form-group">
            <textarea name="request" id="textar" cols="60" rows="6" placeholder="Пожалуйста, оставьте свои требования и пожелания, мы свяжемся в Вами в ближайшее время *" required></textarea>
        </div>
        <button type="reset">Очистить</button>
        <button type="submit">Отправить</button>
    </form>
</div>
</div>


<!-- <div style="position:relative;overflow:hidden;top:4px;margin-top: 40px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d588.2644181631154!2d27.399733629255124!3d53.859622398755626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd131103885bb%3A0x61871072c5c119b8!2z0J7QntCeICLQmNC90YLQtdC70LvQtdC60YIg0KLRgNC10LnQtNC40L3QsyI!5e0!3m2!1sru!2sby!4v1644768414493!5m2!1sru!2sby" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div> -->