@{
	ViewData["Title"] = "Электромобили из Китая в Минск до 60 дней доставки";
	ViewData["activePage"] = "deliveryPage";
	ViewData["Description"] = "Доставка электромобилей под ключ в РБ/РФ до 60 дней. Ваше авто – наша доставка. Компания Formula EV поможет подобрать, а также оперативно доставить Ваш электромобиль по выгодной цене.| " + ViewData["Postfix"];
	ViewData["Keywords"] = "электромобили, Минск, оплата, кредит, лизинг, гарантия, условия, налог, пошлина, таможня, стоимость, платеж, зарядка, прямая оплата, договор, качество, РБ, РФ, логистика, доставка, сроки, жд, автовоз, растаможка";
    Layout = "_Layout";
    ViewData["pathPrefix"] = "../";
}

<h1 style="text-align: center; font-size: 33px; font-weight: 500; margin-top: 50px;">Доставка | Логистика</h1>

<div id="all_page_news">
	<h2 id="publication_title">Условия и сроки доставки</h2>
	<div id="publication_description">
		<span class="news_text">
            Все автомобили доставляются в закрытых контейнерах <b>по ЖД</b>. Полный процесс доставки занимает <b>около 2-х месяцев</b>, из которых в пути автомобиль находится <b>от 14 до 21 дней</b>, остальное время занимает подготовка документов, консолидация грузов и ожидание на станциях погрузки и выгрузки. Конкретные сроки прописываются <b>в договоре</b>.
            </span>
		<br><br>

		<span class="news_text">
            Производим обязательное <b>страхование</b> Вашего автомобиля на время перевозки.
        </span>
        <br><br>
	</div>

    <h2 id="publication_title">Логистика для Вас</h2>
	<div id="publication_description">
		<span class="news_text">
            Доступна новая услуга! <b>Ваш авто - наша доставка.</b> Организуем логистику внутри Китая, заберем от Вашего продавца, затаможим и доставим в Минск!
        </span>
		<br><br>

        <span class="news_text">
            Стоимость зависит от габаритов и веса каждого автомобиля и рассчитывается <b>индивидуально</b>. В среднем, стоимость такой перевозки обойдется <b>от 3500$ до 5000$</b>.            
        </span>
		<br><br>

        <span class="news_text">
            Более детальную информацию уточняйте у менеджера по телефону: <a href="tel:375296349842"><b id="mynumber"><br>+375 (29) 634-98-42</b></a> (все мессенджеры)
            </span>
		<br><br>
	</div>
</div>

	<div class="tg_block_link">
		<div class="container">
			<div class="tg_block_holder">
				<div class="left_tg">
					<div class="left_tg_title">Присоединяйтесь к нашему телеграм-каналу</div>
					<div class="left_tg_text">Новости | Горячие предложения | Инженерные разборы | Оценки реальных пользователей</div>
				</div>
				<div class="right_tg">
					<div class="right_tg_btn">
						<a href="https://t.me/it_car_by_channel" class="right_tg_button">Подписаться</a>
					</div>
				</div>
			</div>
		</div>
	</div>