@{
    ViewData["Title"] = "Актуальные предложения по электрокарам и последние новости - Цены";
	ViewData["Description"] = "Последние новости и горящие предложения по электромобилям в Минске | IT-CAR.BY";
	ViewData["activePage"] = "newsPage";
	Layout = "_Layout2";
}


<div class="panel commercial">
	Новости
</div>
<h1 style="text-align: center; font-size: 33px; font-weight: 500; margin-top: 50px;">Электромобили | Новости | Обзоры</h1>

<div id="news_block">
	<ul id="list_news">
		<li class="one_news">
			<a href="all_news/battery_life">
				<img class="news_title_img" src="images/news/battery_life/1.png" alt="">
			</a>

			<div class="news_info">
				<div class="news_title">
					Как оценить срок службы литиевой батареи?
				</div>
				<div class="news_description">
					Любые аккумуляторные батареи со временем становятся менее эффективными. По мере химического старения литий-ионных батарей не только теряется мощность, но и увеличивается</strong>...
				</div>
				<div class="news_down_block">
					<div class="news_date">
						<img id="news_clock_img" src="images/icons/clock.png" alt="">
						IT-CAR.BY Июль 07, 2022
					</div>
					<a class="news_more_info" href="all_news/battery_life">
						Подробнее
					</a>
				</div>
			</div>
		</li>
		<li class="one_news">
			<a href="all_news/how_to_choose_a_car">
				<img class="news_title_img" src="images/news/how_choose_car/title.png" alt="">
			</a>

			<div class="news_info">
				<div class="news_title">
					Как выбрать электромобиль?
				</div>
				<div class="news_description">
					Сегодня, с ростом цен на топливо, все больше людей задумываются о покупке своего первого электромобиля, но как выбрать <strong>технически надежный электромобиль</strong>...
				</div>
				<div class="news_down_block">
					<div class="news_date">
						<img id="news_clock_img" src="images/icons/clock.png" alt="">
						IT-CAR.BY Июнь 03, 2022
					</div>
					<a class="news_more_info" href="all_news/how_to_choose_a_car">
						Подробнее
					</a>
				</div>
			</div>
		</li>
		<li class="one_news">
			<a href="all_news/TESLA_vs_BYD">
				<img class="news_title_img" src="images/news/byd_vs_tesla/title.png" alt="">
			</a>

			<div class="news_info">
				<div class="news_title">
					Подражая Tesla и пытаясь улучшить
				</div>
				<div class="news_description">
					Мы проведем интересное сравнение между решениями <b>BYD</b> и <b>Tesla</b> по корпусу батареи, основываясь на информации, озвученной на презентации производителя, и патентной информации, ранее опубликованной Tesla...
				</div>
				<div class="news_down_block">
					<div class="news_date">
						<img id="news_clock_img" src="images/icons/clock.png" alt="">
						IT-CAR.BY Май 31, 2022
					</div>
					<a class="news_more_info" href="all_news/TESLA_vs_BYD">
						Подробнее
					</a>
				</div>
			</div>
		</li>

	</ul>
</div>

<div class="headers" style="font-size: 24px; margin-top: 100px; margin-bottom: 30px;">
	Еще больше новостей и актуальных горящих предложений размещено в нашем телеграм-канале
</div>
<div id="link_telchanel" style="text-align: center; margin-top: 20px; margin-bottom: 100px;">
	<a style="text-decoration:underline" href="https://t.me/it_car_by_channel">https://t.me/it_car_by_channel</a>
</div>
