@{
	ViewData["Title"] = "Условия оплаты электромобилей в Минске";
	ViewData["activePage"] = "paymentPage";
	ViewData["Description"] = "Электромобили для юридических и физических лиц. Оформление в лизинг или кредит на выгодных условиях| " + ViewData["Postfix"];
	ViewData["Keywords"] = "электромобили, Минск, оплата, кредит, лизинг, гарантия, условия, налог, пошлина, таможня, стоимость, платеж, зарядка, прямая оплата, договор, качество, РБ, РФ, кредитование, выгодно, проценты, срок, лет, растаможка";
    Layout = "_Layout";
    ViewData["pathPrefix"] = "../";
}

<h1 style="text-align: center; font-size: 33px; font-weight: 500; margin-top: 50px;">Оплата | Кредит | Лизинг</h1>

<div id="all_page_news">
	<h2 id="publication_title">Кредитование и лизинг</h2>
	<div id="publication_description">
		<span class="news_text">
            Наши партнеры предоставляют возможность оформления автомобиля <b>в кредит сроком до 10 лет</b> с авансовым платежом от 10%. 
        </span>
		<br><br>

		<span class="news_text">
            <b>Лизинг электромобилей для физических лиц</b> предоставляется нашим партнером: первоначальный взнос от 20% сроком до 7 лет.
        </span>
		<br><br>

        <span class="news_text">
            Покупка электромобиля <b>в лизинг для юридических лиц</b>: авансовый платеж от 20% с индивидуальным сроком от партнеров.
        </span>       
        <br><br>
	</div>

    <h2 id="publication_title">Оплату сразу</h2>
	<div id="publication_description">
		<span class="news_text">
            <i>Цены в $ указаны в эквиваленте справочно для РБ на день публикации. Оплата производится на расчетный счет в BYN по курсу НБ РБ на день заключения договора. Стоимость указана с учетом доставки и таможенного оформления в Минске.</i>
        </span>
		<br><br>

        <span class="news_text">
            Более детальную информацию уточняйте у менеджера по телефону: <a href="tel:375296349842"><b id="mynumber"><br>+375 (29) 634-98-42</b></a> (все мессенджеры)
            </span>
		<br><br>
	</div>
</div>

	<div class="tg_block_link">
		<div class="container">
			<div class="tg_block_holder">
				<div class="left_tg">
					<div class="left_tg_title">Присоединяйтесь к нашему телеграм-каналу</div>
					<div class="left_tg_text">Новости | Горячие предложения | Инженерные разборы | Оценки реальных пользователей</div>
				</div>
				<div class="right_tg">
					<div class="right_tg_btn">
						<a href="https://t.me/it_car_by_channel" class="right_tg_button">Подписаться</a>
					</div>
				</div>
			</div>
		</div>
	</div>