@{
	ViewData["Title"] = "Сервисное обслуживание после покупки электромобилей";
	ViewData["activePage"] = "servicePage";
	ViewData["Description"] = "Гарантия до 2-х лет, сервисное обслуживание и бесплатная диагностика после покупки электромобилей в Минске. Доставка запчастей и комплектующих| " + ViewData["Postfix"];
	ViewData["Keywords"] = "электромобили, Минск, кредит, лизинг, гарантия, условия, пошлина, таможня, стоимость, зарядка, договор, РБ, РФ, логистика, доставка, сроки, жд, автовоз, растаможка, запчасти, комплектующие, обслуживание, диагностика, бесплатно";
    Layout = "_Layout";
    ViewData["pathPrefix"] = "../";
}

<h1 style="text-align: center; font-size: 33px; font-weight: 500; margin-top: 50px;">Сервис | Гарантия | Обслуживание</h1>

<div id="all_page_news">
    <h2 id="publication_title">Гарантия и сервисное обслуживание</h2>
	<div id="publication_description">
		<span class="news_text">
            На новые электромобили действует <b>гарантия на силовую батарею 2 года или 150 000 км</b>. При наступлении гарантийного случая, мы полностью заменяем аккумуляторную батарею. Наши клиенты могут пользоваться услугой расширенной гарантией и при наступлении обстоятельств мы обязуемся <b>произвести ремонт</b> с заменой поврежденных узлов.
        </span>
		<br><br>

        <span class="news_text">
            Наши китайские специалисты знакомы с работой и ремонтом автомобилей и могут обеспечить <b>поставку дешевых запчастей</b>. Кроме этого, для наших клиентов мы проводим <b>бесплатную диагностику авто</b>.
        </span>
		<br><br>

        <span class="news_text">
            Более детальную информацию уточняйте у менеджера по телефону: <a href="tel:375296349842"><b id="mynumber"><br>+375 (29) 634-98-42</b></a> (все мессенджеры)
        </span>
		<br><br>
	</div>
</div>

	<div class="tg_block_link">
		<div class="container">
			<div class="tg_block_holder">
				<div class="left_tg">
					<div class="left_tg_title">Присоединяйтесь к нашему телеграм-каналу</div>
					<div class="left_tg_text">Новости | Горячие предложения | Инженерные разборы | Оценки реальных пользователей</div>
				</div>
				<div class="right_tg">
					<div class="right_tg_btn">
						<a href="https://t.me/it_car_by_channel" class="right_tg_button">Подписаться</a>
					</div>
				</div>
			</div>
		</div>
	</div>