@{
    ViewData["Title"] = "Купить электромобили недорого - Цены в Минске";
	ViewData["Description"] = "Электромобили Tesla, BYD, Volkswagen, Xpeng, Cherry и др. Надежные электрокары по сниженной цене. Доставка. Финансовая поддержка. Гарантии. Страховка. Круглосуточная связь";
	ViewData["activePage"] = "passengerPage";
	Layout = "_Layout2";
}

<div style="position: relative; margin-top: 7%; margin-bottom: 10px;">
    <div style="font-size: 40px; text-align: center;margin-bottom: 60px; top:50%;">
        Заявка была отправлена успешно. Вскоре мы с Вами свяжемся.
    </div>
    <a class="main-button" href="index" style="display: block;">На главную</a>
</div>
