@model CarsClient.Models.ErrorViewModel

@{
    ViewData["Title"] = "Ошибка - " + Model.Code;
    ViewData["Description"] = "Возникла ошибка: " +  Model.Description;
    ViewData["Keywords"] = "электромобили, купить электромобиль Минск,  электромобиль Беларусь, электромобиль Минск бу, отзывы электромобили, купить электромобили РФ, запчасти электромобиль, доставка Минск, кредит, лизинг, быстрая зарядка";
    Layout = "_Layout";
    ViewData["pathPrefix"] = "https://formulaev.net/";
}

<div class="container" id="error_container">
    <div id="error_statusCode">Ошибка - @Model.Code</div>
    <div id="error_statusDescription">@Model.Description</div>
</div>
