@{
	ViewData["Title"] = "10 фактов об электромобилях";
	ViewData["activePage"] = "newsPage";
	ViewData["Description"] = "Об этом не расскажут производители: 10 фактов, которые вы должны знать об электромобилях в 2024 году| " + ViewData["Postfix"];
	ViewData["Keywords"] = "электромобили, купить электромобиль Минск, отзывы электромобили, новости электромобили, обзоры электромобили, советы электромобили, факты электромобили, как выбрать электромобиль, сравнение электромобилей, сколько живет батарея электромобиля, срок службы батареи, хорошая батарея электромобиля";
    Layout = "_Layout";
    ViewData["pathPrefix"] = "../";
}

<h1 style="text-align: center; font-size: 33px; font-weight: 500; margin-top: 50px;">Электромобили | Новости | Обзоры</h1>

<div id="all_page_news">
	<h2 id="publication_title">10 фактов, которые вы должны знать об электромобилях 2024</h2>
	<div id="publication_date">FORMULAEV.NET Март 11, 2024</div>
	<div id="publication_description">
		<span class="news_text">
            Линь Суян (директор и учредитель платформы по оценке электромобилей FormulaEV.net):
        </span>
		<br><br>
		<span class="news_text">
            Будучи одним из первых инженеров EV, я работал в Пекинской корпорации автомобильной промышленности (BAIC) на протяжении 3-х лет. На базе Model S мы собрали собственную экспериментальную модель EV160. После чего я присоединился к нескольким инвестиционным компаниям, чтобы выбрать достойных производителей компонентов для EV. По воле случая я оказался в Беларуси. Я был рад видеть, что все больше и больше людей любят электромобили, но я также видел, что многие люди не знают, как выбрать подходящий электромобиль.
        </span>
		<br><br>
		<span class="news_text">
            1) Емкость батареи не менее 80 кВтч.
        </span>
		<br><br>
        <span class="news_text">
            Батарея большей емкости обычно означает, что вы можете ехать дальше. Емкость батареи составляет не менее 80 кВтч, поэтому зимой вы сможете проехать 300-400км.
        </span>
		<br><br>
		<span class="news_text">
            2) Тройной литий лучше, чем литий-железо-фосфат.
            </span>
        <br><br>
        <span class="news_text">
            Тройная литиевая батарея изготовлена из никеля, кобальта, оксида марганца в сочетании трех элементов, а процесс изготовления катодного материала представляет собой реакцию окисления, и продукт химической реакции окисления очень тщательный, чистота оксида очень высокая, примесей нет, поэтому выход батареи высокий. Консистенция хорошая, и почти нет разницы между различными партиями батарей. 
            </span>
		<br><br>
        <img src="../images/news/10_facts/Picture1.png" alt="">
		<p class="news_img_dscrptn">Рисунок 1. Тройной литий под электронным микроскопом</p>

		<span class="news_text">
            В литий-железо-фосфатных батареях, которые состоят из фосфора и двухвалентного железа, процесс производства анодных материалов представляет собой реакцию восстановления, а реакцию восстановления трудно контролировать. Двухвалентное железо легко перевосстанавливается до металлического железа, и эти примеси приводят к микрокороткому замыканию внутри батареи. Эти примеси распределены неравномерно, что также приводит к низкому выходу и плохой консистенции. Имеются большие различия между разными партиями батарей.
            </span>
        <br><br>
		
        <img src="../images/news/10_facts/Picture2.png" alt="">
		<p class="news_img_dscrptn">Рисунок 2. .Литий-железо-фосфат под электронным микроскопом.</p>

		<span class="news_text">
            Tesla также проводит индивидуальное тестирование одной и той же партии элементов, возвращая неквалифицированные экземпляры в CATL, которая бесплатно заменяет их для обеспечения 100-процентного результата. BYD не соглашается на такие условия поставок, поэтому Tesla никогда не указывала BYD в качестве официального поставщика. Geely и GAC построили собственные заводы по упаковке аккумуляторных батарей и поставляют ячейки с завода CATL.
            </span>
		<br><br>
		<span class="news_text">
            3) Должен быть кондиционер с тепловым насосом.
            </span>
		<br><br>
		<span class="news_text">
            Тепловое управление электромобиля гораздо сложнее, чем топливного, в котором требуется только контур охлаждающей жидкости двигателя и контур хладагента кондиционера, в то время как в электромобиле есть как минимум три контура охлаждения/нагрева: электродвигатель, аккумулятора и кондиционера.
            </span>
		<br><br>
		<span class="news_text">
            Электромобилю необходимо создать систему теплообмена между этими тремя контурами: отработанное тепло от электродвигателя нагревает батарею и хладагент кондиционера, избыточное тепло от батареи используется для нагрева хладагента кондиционера, а в летние месяцы тепло должно быстро рассеиваться в атмосфере.
            </span>
		<br><br>
		<span class="news_text">
            Такая система теплообмена часто называется системой кондиционирования с тепловым насосом или, по аналогии с концепцией тяжелой промышленности, котлом-утилизатором. Зимой она сохраняет 3-10 кВтч на каждые 100 км.
            <br>    
            <img src="../images/news/10_facts/Picture3.jpg" alt="">
			<p class="news_img_dscrptn">Рисунок 3. Система теплового насоса Porsche Taycan. Теплообмен происходит между водой, маслом и хладагентом</p>
		</span>
		
		<span class="news_text">
            4) Запас хода CLTC должен быть не менее 400 км, предпочтительно 700 км. 
		</span>
		<br><br>
		<span class="news_text">
			
            CLTC 400 км зимой это обычно не более 300 км с кондиционером с тепловым насосом.
		</span>
        <br><br>
		
        <img src="../images/news/10_facts/Picture4.png" alt="">
		<p class="news_img_dscrptn">Рисунок 4. Запас хода Xiaomi Su7 составляет 800 км.</p>

		<span class="news_text">
            5) BYD на самом деле не такой уж дешёвый. 
		</span>
        <br><br>
        <span class="news_text">
            Основная техническая сила BYD - в параллельных гибридах, которые составляют половину их продаж, а в производстве электромобилей они не очень хороши. Это происходит в трех основных областях. Во-первых, они используют один хладагент для батареи и салона. Когда есть двигатель внутреннего сгорания, антифриз на водной основе заботится о перемещении тепла, и все хорошо, но в электромобиле от BYD это означает, что компрессор работает на полную мощность в течение длительных периодов времени. Как результат либо компрессор ломается преждевременно, либо батарея не рассеивает достаточно тепла. Во-вторых, литий-железо-фосфатные батареи на 40 % тяжелее тройных литиевых (с одинаковым зарядом), поэтому для экономии места BYD пришлось плотно склеить радиатор и ячейки, а сами батареи не подлежат ремонту, поэтому их можно заменить только в сборе. В-третьих, чтобы адаптироваться под производство дешевых автомобилей, BYD самостоятельно производит некоторые узлы, а когда некоторые передовые чипы нужно закупать на стороне, из-за небольшого масштаба закупок BYD получает худшее предложение, поэтому мы видим, что как только BYD хочет построить приличный автомобиль марки "YANGWANG", цена оказывается намного выше, чем у конкурентов.
        </span>
        <br><br>

        <img src="../images/news/10_facts/Picture5.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 5. Nikkei News обнаружила, что пластина радиатора хладагента седана BYD SEAL прилипла к аккумуляторным элементам и ее можно было демонтировать только насильственно, что сделало ее совершенно не подлежащей ремонту.</p>


        <span class="news_text">
            6) Двигатели с масляным охлаждением лучше, чем двигатели с водяным охлаждением. 
            <br><br>
            Охлаждающее масло не является проводящим, ротор и статор двигателя хорошо охлаждаются, и двигатель может поддерживать высокую мощность в течение длительного времени. Однако это создало трудности при проектировании системы теплового насоса с тремя контурами и тремя охлаждающими средами: маслом, водой и хладагентом. Компания Zeekr решила обойти эти трудности, решив использовать двигатели с водяным охлаждением, что увеличило шум от двигателей и снизило их производительность. Они обещали использовать двигатели с масляным охлаждением, но отказались от своего слова. 
        </span>
		
        <br><br>
		
        <img src="../images/news/10_facts/Picture6.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок. 6. Охлаждающее масло является изолятором и может полностью охладить ротор и статор двигателя.</p>

        <span class="news_text">
            7) Платформа 800В лучше, чем платформа 400В. 
            </span>
	
        <br>
        <span class="news_text">
            Под 800-вольтовой платформой я подразумеваю, что аппаратная часть всей высоковольтной системы автомобиля работает при напряжении не менее 550В (и не более 800 В), более высокое напряжение означает, что меньший ток может достичь той же мощности, что снижает потребление электроэнергии. Мало того, на зарядной станции с жидкостным охлаждением можно достичь скорости зарядки до 500кВт.
        </span>
        <img src="../images/news/10_facts/Picture7.png" alt="">
        <p class="news_img_dscrptn">Рисунок 7. Электромобили модернизируются с платформы 400 В до платформы 800 В. </p>

        <span class="news_text">
            8) Для зарядки в домашних условиях вам понадобится станция быстрой зарядки 380 В 22 кВт. 
        </span><br>
        <span class="news_text">
            В настоящее время многие используют зарядные станции мощностью 7 кВт, которые не гарантируют полной зарядки за ночь. Если у вас батарея емкостью 80 кВт/ч и более, постарайтесь установить станцию быстрой зарядки 380В 22кВт.
            </span>
        <img src="../images/news/10_facts/Picture8.png" alt="">
        <p class="news_img_dscrptn">Рисунок 8. Домашняя станция быстрой зарядки, 380 В, 22 кВт</p>

        <span class="news_text">
            9) Минимальная температура -18 °C.
        </span>
		
        <br><br>
        <span class="news_text">
            К сожалению, разработчики систем тепловых насосов в настоящее время ограничены стоимостью и самой батареей. Системы тепловых насосов способны нормально работать при температуре не ниже -18 °C для поддержания нормальной производительности всего автомобиля (-10 °C для систем тепловых насосов, зависящих от хладагента). Конечно, некоторые бренды утверждают, что их автомобили могут "работать" при температуре -40 °C, но им приходится жертвовать некоторыми характеристиками (чаще всего за счет экспоненциального увеличения энергопотребления). 
        </span>
        <img src="../images/news/10_facts/Picture9.jpg" alt="">
        <p class="news_img_dscrptn">Рисунок 9. Электромобилям нравится меньше холода, но технологический прогресс еще далек от завершения.</p>

        <span class="news_text">
            10) Модели со сменными аккумуляторами (например, NIO) уменьшают свободное пространство в автомобиле. 
        </span>
        
        <br><br>
        <span class="news_text">
            Чтобы сохранить механическую прочность аккумуляторного блока, батарею делают толще, что ограничивает свободное пространство в автомобиле, и сиденья могут быть неудобными. Некоторые владельцы автомобилей NIO в Китае считают, что ухудшение состояния их позвоночника связано с этим, и планируют подать на NIO в суд.
        </span>
        <img src="../images/news/10_facts/Picture10.jpg" alt="">
        <p class="news_img_dscrptn">Рисунок 10. Водительское сиденье электромобиля NIO. </p>

		<span class="news_text">
			<br>Всем EV🙌<br>
			Команда FORMULAEV.NET
		</span>
		<br><br>

	</div>
</div>

<div class="headers" style="font-size: 24px; margin-top: 100px; margin-bottom: 30px;">
	Еще больше новостей и актуальных горящих предложений размещено в нашем телеграм-канале
</div>
<div id="link_telchanel" style="text-align: center; margin-top: 20px; margin-bottom: 100px;">
	<a style="text-decoration:underline" href="https://t.me/it_car_by_channel">https://t.me/it_car_by_channel</a>
</div>