@{
	ViewData["Title"] = "Какой срок службы у литиевой батареи";
	ViewData["activePage"] = "newsPage";
	ViewData["Description"] = "Как оценить срок у службы литиевой батареи? На сколько циклов зарядки рассчитывать? Ответ от китайского инженера | " + ViewData["Postfix"];
	ViewData["Keywords"] = "электромобили, купить электромобиль Минск, отзывы электромобили, новости электромобили, обзоры электромобили, советы электромобили, факты электромобили, как выбрать электромобиль, сравнение электромобилей, сколько живет батарея электромобиля, срок службы батареи, хорошая батарея электромобиля";
	Layout = "_Layout";
    ViewData["pathPrefix"] = "../";
}

<h1 style="text-align: center; font-size: 33px; font-weight: 500; margin-top: 50px;">Электромобили | Новости | Обзоры</h1>

<div id="all_page_news">
	<h2 id="publication_title">Как оценить срок службы литиевой батареи? </h2>
	<div id="publication_date">FORMULAEV.NET Июль 07, 2022</div>
	<div id="publication_description">
		<p class="p_news">Любые аккумуляторные батареи со временем становятся менее эффективными. По мере химического старения литий-ионных батарей не только теряется мощность, но и увеличивается импеданс батареи, что приводит к снижению способности батареи выдавать максимальную мгновенную мощность, или "пиковую мощность". Импеданс батареи может временно увеличиваться в состоянии низкого заряда и при низких температурах. Добавив к этим факторам химический возраст, получим еще более значительное увеличение импеданса.  </p>

		<p>Для нормального функционирования электромобиля устройства должны иметь возможность мгновенно получать энергию от батареи, а батарея с высоким импедансом может оказаться не в состоянии обеспечить достаточную мощность для системы. Недостаток мощности связан с падением напряжения, иногда даже ниже минимального уровня, необходимого для нормальной работы электронных компонентов. В таком случае система выполнит отключение для сохранения электронных компонентов. Хотя это отключение является преднамеренным с точки зрения устройства, оно может быть неожиданным для пользователя. В этот момент мы можем сказать, что ваша батарея "мертва".</p>

		<img src="../images/news/battery_life/1.png">

		<p class="news_img_dscrptn">Рисунок 1. Химическое старение батареи приводит к тому, что максимальная емкость батареи после некоторого периода пользования уменьшается по сравнению с первоначальной емкостью</p>

		<p><strong>Конкретные цифры?</strong></p>
		<br>

		<p>В ноябре 2019 года лизинговая компания Tesloop заявила, что она прошла 330 000 миль (531 083 км) на автомобиле Model X с первоначальным запасом хода 260 миль, при этом в процессе пользования производительность снизилась на 23% (260 миль до 200 миль), что соответствует примерно 1 400-1 500 циклам зарядки. </p>

		<br>
		<p>Влияние различных решений по терморегулированию на срок службы батареи также значительно: Батареи с жидкостным охлаждением деградируют медленнее, чем батареи с воздушным охлаждением. Geotab, ведущая компания по телематике и управлению автопарком, в 2015 году наблюдала среднегодовую скорость деградации 2,3% для батарей с жидкостным охлаждением, а также для плоских батарей Tesla Model S, по сравнению с 4,2% для Nissan LEAF с воздушным охлаждением. Задний блок модулей Nissan LEAF обычно расширяется из-за перегрева после 190 000 км пробега. Стоимость замены расширенного модуля составляла 900 фунтов стерлингов (1235 долларов США). </p>

		<img src="../images/news/battery_life/2.png">

		<p class="news_img_dscrptn">Рисунок 2. Батарея Tesla Model S и X деградирует со временем. Источник: Tesla</p>

		<p><strong>Экономическая эффективность </strong></p>
		<br>

		<p>На экономическую эффективность батареи влияет не только химический возраст, но и емкость батареи, а также скорость зарядки. Согласно исследованию, проведенному учеными, для водителей, использующих электрические такси, три фактора определяют их ежедневный доход: (а) начальная емкость батареи автомобиля/кВтч, (б) скорость зарядки/кВт, (в) общее количество такси.</p>

		<img src="../images/news/battery_life/3.png">

		<p class="news_img_dscrptn">Рисунок 3. Ось с левой стороны каждого графика представляет средний доход водителя в день /$, ось с правой стороны каждого графика представляет процент отказа водителем от заказа клиента (водители такси могут отклонять запросы клиентов из-за фактора расстояния или времени)/%; сплошную линию следует читать по левой оси графика, пунктирную линию следует читать с правой оси графика.</p>

		<p>Основываясь на данных о поездках на такси, собранных Комиссией по такси и лимузинам Нью-Йорка в мае 2016 года, и распределении местных зарядных постов, ученые использовали алгоритмы для моделирования крупномасштабного использования электрических такси, и пришли к выводу, что доход от электрических такси в значительной степени определяется емкостью батареи и скоростью зарядки. При оптимальной начальной емкости аккумулятора от 60 кВт/ч до 80 кВт/ч и скорости зарядки от 40 кВт до 120 кВт в час, электрические такси могут удовлетворить 96,5%-97,5% городского спроса на поездки. </p>

		<br>
		<p>Поэтому для городского таксиста, если он покупает EV с литиевой батареей емкостью менее 60 кВтч, химическое старение батареи оказывает более серьезное влияние на экономическую эффективность.</p>

		<br>
		<p>Предыдущие инженерные примеры показали, что плоские литиевые батареи и жидкостное охлаждение являются лучшим решением для обеспечения равномерной температуры, снижая емкость батареи всего на 10% после 321 868,8 км (200000 миль) пробега. Именно поэтому автопроизводители сейчас используют плоские литиевые батареи и жидкостное охлаждение (если они достаточно чувствительны к технологической революции).</p>

		<br>
		<p>На данный момент можно сказать, что с учетом срока службы батареи и других необходимых факторов мы рекомендуем выбирать электромобиль с аккумуляторной батареей, которая должна:</p>

		<br>
		<p>1) Иметь емкость аккумулятора от 60 кВт/ч до 80 кВт/ч, если вы используете авто в основном в городе или вблизи него;</p>

		<br>
		<p>2) Иметь плоский блок батарей: таким образом каждая батарея получает одинаковый уровень теплоотдачи, весь аккумуляторный блок прослужит дольше;</p>

		<br>
		<p>3) Иметь жидкостную систему охлаждения, воздушное охлаждение не является надежным решением.</p>


		<span class="news_text">
			<br>Всем EV🙌<br>
			Команда FORMULAEV.NET
		</span>
		<br><br>

	</div>
</div>

<div class="headers" style="font-size: 24px; margin-top: 100px; margin-bottom: 30px;">
	Еще больше новостей и актуальных горящих предложений размещено в нашем телеграм-канале
</div>
<div id="link_telchanel" style="text-align: center; margin-top: 20px; margin-bottom: 100px;">
	<a style="text-decoration:underline" href="https://t.me/it_car_by_channel">https://t.me/it_car_by_channel</a>
</div>