@{
	ViewData["Title"] = "Как выбрать электромобиль в 2024 году";
	ViewData["activePage"] = "newsPage";
	ViewData["Description"] = "Как правильно выбрать электромобиль и по каким критериям - советы китайского инженера| " + ViewData["Postfix"];
	Layout = "_Layout";
    ViewData["pathPrefix"] = "../";
}

<h1 style="text-align: center; font-size: 33px; font-weight: 500; margin-top: 50px;">Электромобили | Новости | Обзоры</h1>

<div id="all_page_news">
	<h2 id="publication_title">Как выбрать электромобиль? Из невидимого - конструкция кузова</h2>
	<div id="publication_date">FORMULAEV.NET Июнь 03, 2022</div>
	<div id="publication_description">
		<p class="p_news">Сегодня, с ростом цен на топливо, все больше людей задумываются о покупке своего первого электромобиля, но как выбрать <u>технически надежный электромобиль</u>? С одной стороны, в отличие от топливного автомобиля, электрический седан может иметь вес топливного внедорожника за счет добавления батареи немалого веса (0,2-0,5 тонны), с другой стороны, двигатель внутреннего сгорания и связанная с ним механическая конструкция полностью исчезают. Вся конструкция кузова электромобиля должна быть перепроектирована. Поэтому необходимо начать с самой фундаментальной проблемы - <u>структуры кузова</u>, которая в корне определяет эксплуатационные характеристики электромобиля.</p>
		<p class="p_news"> </p>
		<p class="p_news">Электромобили стали неотъемлемой частью каждой автомобильной марки. Однако, когда дело доходит до конкретного направления развития, автомобильные компании (вследствие различных факторов, таких как стратегическое планирование, финансирование и научно-исследовательские мощности) пошли двумя путями. Первый - это изменение батареи под старую конструкцию кузова, что мы называем <u>платформой с топливно-электрическим приводом</u>, а другой - изменение конструкции кузова под батарею, что мы называем <u>платформой с оригинальным электроприводом</u>. </p>
		<p class="p_news"> </p>
		<p class="p_news">Для того чтобы разобраться, какой путь лучше, необходимо понять две отличительные особенности конструкции: первая - это &quot;<strong>центральный выпуклый канал</strong>&quot;, а вторая - это <strong>моторный отсек</strong>, который занят двигателем внутреннего сгорания и механизмом рулевого управления с приводом на передние колеса. </p>
		<img src="../images/news/how_choose_car/2.png">


		<p class="p_news">Традиционный топливный автомобиль, будь то заднеприводный автомобиль продольной компоновкой или переднеприводный автомобиль со среднемотороной компоновкой, требует центрального пространства в передней части автомобиля. Этот &quot;центральный выпуклый канал&quot; располагается вдоль всего автомобиля, образуя центральную панель с подлокотником привычного нам автомобиля. Из-за связи между продольной трансмиссией и центральным карданным валом центральный канал заднеприводных и полноприводных автомобилей должен быть больше, чем у переднеприводных. Широкая зона центрального подлокотника стала фирменной чертой &quot;роскошных автомобилей&quot;. </p>
		<img src="../images/news/how_choose_car/title.png">


		<p class="p_news">Возможно, именно по этой причине немецкие автомобильные компании стремятся сохранить этот &quot;центральный выпуклый канал&quot;, пытаясь изменить форму аккумулятора, чтобы адаптироваться к старой структуре кузова. В случае с первым поколением <strong>e-golf</strong>, выпущенным Volkswagen в 2015 году, это типичный пример изменения формы батареи, чтобы подогнать ее под старую конструкцию кузова. Батарея может быть установлена в &quot;центральный канал&quot; только в неправильной многоугольной структуре, что сильно <strong>ограничивает емкость и ухудшает теплоотдачу батареи</strong>.</p>
		<img src="../images/news/how_choose_car/3.png">


		<p class="p_news">Это новейший электромобиль <strong>BMW i4</strong> февраля 2022 года, здесь также видна <u>традиционная</u> структура топливного автомобиля. </p>
		<img src="../images/news/how_choose_car/4.png">


		<p class="p_news">В бесполезный для электромобилей &quot;центральный выпуклый канал&quot; BMW заключает два небольших модуля ячеек поверх плоского слоя аккумуляторного блока. Это добавляет дополнительные конструкции и кабели в аккумуляторном блоке, что не очень хорошо для емкости и теплоотдачи батареи.</p>
		<img src="../images/news/how_choose_car/5.png">


		<p class="p_news">При разработке платформ для электромобилей японские компании по производству обычных автомобилей решили проблему &quot;центральной выпуклости&quot;, но по-прежнему очень консервативны в отношении распределения пространства в моторном отсеке.</p>
		<p class="p_news"> </p>
		<p class="p_news">Для топливного автомобиля с передним поперечным расположением двигателя двигатель внутреннего сгорания должен быть расположен перед передней осью, а рулевое управление и привод расположены за передней осью для балансировки центра тяжести. При проектировании платформы EV на базе обычного переднеприводного бензинового автомобиля невозможно разместить рулевое управление и рулевую тягу в исходном положении двигателя внутреннего сгорания, поскольку они занимают много места за передней осью, что может серьезно повлиять на объем аккумуляторного блока.</p>
		<p class="p_news"> </p>
		<p class="p_news">Не так давно <strong>Honda</strong> запустила собственный проект электромобиля, анонсировав сразу две чисто электрические платформы e:N: <strong>e:N F</strong> и <strong>e:N W</strong>. E:N F предлагает только передний привод, тогда как e:N W имеет как заднеприводную, так и полноприводную конфигурации. Как только Вы увидите переднеприводную электрическую платформу, будьте начеку. При детальном осмотре e:N F имеет механизмом рулевого управления с приводом на передние колеса, но между передней осью e:N F и блоком батарей <u>остается огромный зазор</u>. Это означает, что у электромобиля, построенного на платформе Honda e:N F, в любом случае не хватит запаса хода, чтобы догнать платформу с оригинальными электроприводными моделями того же размера. В условиях таких проблем, производительность будущих электромобилей Honda уже никого не волнует.</p>
		<img src="../images/news/how_choose_car/6.png">


		<p class="p_news">В конечном итоге, для конструктивного дизайна электромобиля, чтобы уместить больше элементов и улучшить теплоотдачу батареи, необходимо решить проблему &quot;центрального канала выпуклости&quot; и перераспределить пространство в моторном отсеке.</p>
		<p class="p_news"> </p>
		<p class="p_news">Лучший способ сделать это - <u>уложить аккумуляторную систему абсолютно плоской</u>, так как это позволяет каждой части элемента иметь по существу одинаковые условия теплоотдачи, гарантируя, что батарея не перегреется и не загорится, а зимой быстрее нагреется. Проектирование аккумуляторной системы должно быть завершено до проектирования кузова, и аккумуляторной системе должен быть отдан наивысший приоритет в проектировании, при этом вся конструкция кузова должна обслуживать аккумуляторный блок большей емкости.</p>
		<p class="p_news"> </p>
		<p class="p_news">В конструкции кузова платформы с оригинальным электроприводом с самого начала проектирования приоритет отдается <u>размеру</u> и <u>форме</u> блока батарей, резервируя достаточно места для его установки. Модели платформы с оригинальным электроприводом планируют пространство кузова таким образом, что моторный отсек исчезает, а все пространство перераспределяется на блок батарей. Запас хода в 600-1000 километров - главное преимущество такой конструкции.</p>
		<p class="p_news"> </p>
		<p class="p_news">В 2021 году <strong>Audi</strong> представила так называемую платформу <strong>PPE</strong> - первую настоящую платформу с оригинальным электроприводом: почти плоский блок батарей, рулевое управление передними колесами и рулевые тяги, расположенные перед передней осью, занявшие место прежнего двигателя внутреннего сгорания. Но первого электромобиля Audi на базе платформы PPE, который покинет завод, придется ждать примерно до 2024 года.</p>
		<img src="../images/news/how_choose_car/7.png">


		<p class="p_news">Почти все китайские автопроизводители с самого начала приняли платформу с оригинальным электроприводом, и здесь мы говорим о <strong>Roewe</strong>, <strong>Aion</strong>, <strong>Neo</strong>, <strong>Weltmeister</strong> и др. У <strong>BYD</strong> платформа с оригинальным электроприводом появилась немного позже. Каждое из решений этих автопроизводителей имеет свои отличительные особенности, о которых я подробно расскажу позже, так что следите за новостями&#33;</p>

		<span class="news_text">
			<br>Всем EV🙌<br>
			Команда FORMULAEV.NET
		</span>
		<br><br>

	</div>
</div>

<div class="headers" style="font-size: 24px; margin-top: 100px; margin-bottom: 30px;">
	Еще больше новостей и актуальных горящих предложений размещено в нашем телеграм-канале
</div>
<div id="link_telchanel" style="text-align: center; margin-top: 20px; margin-bottom: 100px;">
	<a style="text-decoration:underline" href="https://t.me/it_car_by_channel">https://t.me/it_car_by_channel</a>
</div>