@using CarsClient.Models.Dto
@{
	ViewData["Title"] = "Актуальные предложения по электрокарам и последние новости | Низкие цены";
	ViewData["activePage"] = "newsPage";
	ViewData["Description"] = "Последние новости и горящие предложения по электромобилям в Минске | " + ViewData["Postfix"];
	Layout = "_Layout";
}

<h1 style="text-align: center; font-size: 33px; font-weight: 500; margin-top: 50px;">Электромобили | Новости | Обзоры</h1>

<div id="news_block">
    <ul id="list_news">
        <li class="one_news">
			<a href="all-news/10_facts_about_ev">
                <img class="news_title_img" src="images/news/10_facts/Picture3.jpg" alt="">
            </a>

            <div class="news_info">
                <div class="news_title">
					10 фактов, которые вы должны знать об электромобилях 2024
                </div>
                <div class="news_description">
                    Двигатели с масляным охлаждением лучше, чем двигатели с водяным охлаждением. 
                    Охлаждающее масло не является проводящим, ротор и статор двигателя хорошо охлаждаются, и двигатель может </strong>...
                </div>
                <div class="news_down_block">
                    <div class="news_date">
                        <img id="news_clock_img" src="images/icons/clock.png" alt="">
                        FORMULAEV.NET Март 11, 2024
                    </div>
					<a class="news_more_info" href="all-news/10_facts_about_ev">
                        Подробнее
                    </a>
                </div>
            </div>
        </li>
		<li class="one_news">
			<a href="all-news/battery_life">
				<img class="news_title_img" src="images/news/battery_life/1.png" alt="">
			</a>

			<div class="news_info">
				<div class="news_title">
					Как оценить срок службы литиевой батареи?
				</div>
				<div class="news_description">
					Любые аккумуляторные батареи со временем становятся менее эффективными. По мере химического старения литий-ионных батарей не только теряется мощность, но и увеличивается</strong>...
				</div>
				<div class="news_down_block">
					<div class="news_date">
						<img id="news_clock_img" src="images/icons/clock.png" alt="">
						FORMULAEV.NET Июль 07, 2022
					</div>
					<a class="news_more_info" href="all-news/battery_life">
						Подробнее
					</a>
				</div>
			</div>
		</li>
		<li class="one_news">
			<a href="all-news/how_to_choose_a_car">
				<img class="news_title_img" src="images/news/how_choose_car/title.png" alt="">
			</a>

			<div class="news_info">
				<div class="news_title">
					Как выбрать электромобиль?
				</div>
				<div class="news_description">
					Сегодня, с ростом цен на топливо, все больше людей задумываются о покупке своего первого электромобиля, но как выбрать <strong>технически надежный электромобиль</strong>...
				</div>
				<div class="news_down_block">
					<div class="news_date">
						<img id="news_clock_img" src="images/icons/clock.png" alt="">
						FORMULAEV.NET Июнь 03, 2022
					</div>
					<a class="news_more_info" href="all-news/how_to_choose_a_car">
						Подробнее
					</a>
				</div>
			</div>
		</li>
		<li class="one_news">
			<a href="all-news/TESLA_vs_BYD">
				<img class="news_title_img" src="images/news/byd_vs_tesla/title.png" alt="">
			</a>

			<div class="news_info">
				<div class="news_title">
					Подражая Tesla и пытаясь улучшить
				</div>
				<div class="news_description">
					Мы проведем интересное сравнение между решениями <b>BYD</b> и <b>Tesla</b> по корпусу батареи, основываясь на информации, озвученной на презентации производителя, и патентной информации, ранее опубликованной Tesla...
				</div>
				<div class="news_down_block">
					<div class="news_date">
						<img id="news_clock_img" src="images/icons/clock.png" alt="">
						FORMULAEV.NET Май 31, 2022
					</div>
					<a class="news_more_info" href="all-news/TESLA_vs_BYD">
						Подробнее
					</a>
				</div>
			</div>
		</li>

	</ul>
</div>

<div class="headers" style="font-size: 24px; margin-top: 100px; margin-bottom: 30px;">
	Еще больше новостей и актуальных горящих предложений размещено в нашем телеграм-канале
</div>
<div id="link_telchanel" style="text-align: center; margin-top: 20px; margin-bottom: 100px;">
	<a style="text-decoration:underline" href="https://t.me/it_car_by_channel">https://t.me/it_car_by_channel</a>
</div>