@{
	ViewData["Title"] = "Почему у BYD плохие батареи";
	ViewData["activePage"] = "newsPage";
	ViewData["Description"] = "Сравнение батареи BYD и Tesla. Технический анализ от китайского инженера | " + ViewData["Postfix"];
	Layout = "_Layout";
    ViewData["pathPrefix"] = "../";
}

<h1 style="text-align: center; font-size: 33px; font-weight: 500; margin-top: 50px;">Электромобили | Новости | Обзоры</h1>

<div id="all_page_news">
	<h2 id="publication_title">Подражая Tesla и пытаясь улучшить</h2>
	<div id="publication_date">FORMULAEV.NET Май 31, 2022</div>
	<div id="publication_description">
		<img src="../images/news/byd_vs_tesla/title.png" alt="">

		<span class="news_text">
			Китайский производитель электромобилей <strong>BYD</strong> выпустил свой новый автомобиль <strong>Seal</strong> для предварительного заказа <strong>20 мая 2022</strong> года вместе с технологией интеграции батареи в кузов CTB. Модель будет стоить от 210 000 до 290 000 юаней (31 тыс. долларов США - 43 тыс. долларов США) и будет доступна в трех вариантах: "<strong>Standard Range Edition</strong>" с комбинированным запасом хода <strong>550 км</strong> в условиях CLTC, которая оснащена аккумуляторной батареей емкостью <strong>61,4 кВт/ч</strong>, приводным двигателем максимальной мощностью <strong>150 кВт</strong>, с временем разгона <strong>7,5 с</strong> на 100 км; "<strong>Long Range Edition</strong>" с комбинированным запасом хода <strong>700 км</strong> в условиях CLTC, с питанием от аккумуляторной батареи емкостью <strong>82,5 кВт/ч</strong> и временем разгона <strong>5,9 с</strong> на 100 км; и "<strong>4WD Performance Edition</strong>" с комбинированным запасом хода <strong>650 км</strong> в условиях CLTC. Модель "4WD Performance Edition", оснащенная аккумуляторной батареей емкостью <strong>82,5 кВт/ч</strong> и приводным двигателем с суммарной максимальной мощностью <strong>390 кВт</strong>, разгоняется до 100 км всего за <strong>3,8 с</strong>.
		</span>
		<br><br>
		<span class="news_text">
			Мы проведем интересное сравнение между решениями <strong>BYD</strong> и <strong>Tesla</strong> по корпусу батареи, основываясь на информации, озвученной на презентации производителя, и патентной информации, ранее опубликованной Tesla.Решение <strong>CTB от BYD</strong> представляет собой компромисс между двумя решениями: решением <strong>Tesla 2170</strong> и решением <strong>Tesla 4680</strong>.
		</span>
		<br><br>
		<span class="news_text">
			Решение <strong>CTB от BYD</strong> представляет собой компромисс между двумя решениями: решением <strong>Tesla 2170</strong> и решением <strong>Tesla 4680</strong>.
		</span>
		<br><br>
		<span class="news_text">
			В решении <strong>Tesla 2170</strong> элементы 2170 образуют четыре больших модуля, которые вместе образуют аккумуляторный блок, однако решение <strong>CTB от BYD</strong> полностью отличается. Вместо этого BYD <u>напрямую</u> упаковывает элементы <strong><u>Blade</u></strong><u> в один аккумуляторный блок</u>. Метод, аналогичный решению <strong>Tesla 4680</strong>. Отказавшись от модулей, BYD упаковала больше элементов в батарейный блок той же емкости. В то же время решение <strong>CTB от BYD</strong> сохраняет дизайн решения <strong>Tesla 2170</strong>, <u>оставляя балку пола в кузове автомобиля</u>, вместо того, чтобы интегрировать балку пола в верхнюю часть корпуса аккумулятора, устраняя лишь нижнюю панель кузова.
		</span>
		<br><br>
		<img src="../images/news/byd_vs_tesla/2.png" alt="">
		<span class="news_text">
			Модель Y с батарейным блоком 4680 выполняет роль нижней части кузова, и даже сиденья автомобиля крепятся непосредственно к корпусу батарейного блока. Аккумуляторный блок 4680 действует как "шасси" корпуса, тем самым уменьшая количество частей корпуса и снижая потребление и вес.
		</span>
		<br><br>
		<strong>Решение CTB от BYD</strong> устраняет пространство, занимаемое слоем пола кузова и модулями, обеспечивая тем самым больше места для аккумулятора. Но <u>конструкция балки пола, остающейся в корпусе</u>, не позволяет решению CTB от BYD превзойти решение Tesla 4680 с точки зрения места для батареи. <u>Тем не менее</u>, <u>решение CTB от BYD дает больше пространства для батареи, чем решение Tesla 2170</u>.
		<span class="news_text">
			Предполагаем, что сверхмощный станок для литья под давлением помог Tesla изготовить сверхпрочную верхнюю оболочку аккумулятора, в то время как у BYD пока отсутствует такое оборудование. Высокая цена такого сверхмощного литейного станка должна поддерживаться огромными продажами. Возможно, уже в ближайшем будущем по мере роста продаж BYD мы увидим новое, более интегрированное решение BYD.
		</span>
		<br><br>
		<strong><u>CTB-решение от BYD:</u></strong>
		<img src="../images/news/byd_vs_tesla/3.png" alt="">
		<span class="news_text">
			Итак, если мы сравним его с предыдущими решениями BYD для электромобилей, то данное решение CTB от BYD <strong>легче</strong> и обладает более высокой <strong>поперечной прочностью</strong> / <strong>жесткостью при кручении</strong>. Аккумулятор более <strong>съемный</strong> и <strong>герметичный</strong>, поэтому обслуживание батареи обходится относительно дешево, но по сравнению с решением Tesla 4680, решение BYD использует <strong>прямое воздушное охлаждение</strong> и не рассеивает тепло так, как решение <strong>жидкостного охлаждения от Tesla</strong>.
		</span>
		<br><br>
		<strong><u>Рабочие параметры BYD Seal </u></strong>
		<br>
		<span class="news_text">
			1. Коэффициент использования объема аккумуляторной батареей 66% (Это число означает, сколько место освобождено от кабелей внутри аккумуляторной батареи, оставляя место для самой батареи). Для старых моделей электромобилей BYD данный показатель составляет 40%.
		</span>
		<br><br>
		<span class="news_text">
			2. На 50% повышена безопасность конструкции при лобовом ударе; на 45% повышена безопасность при боковом ударе (по сравнению с BYD Fuel Han).
		</span>
		<br><br>
		<span class="news_text">
			3. Удвоение жесткости при кручении транспортного средства, преодоление порога в 40 000+Н*м/°.
		</span>
		<br><br>
		<span class="news_text">
			4. Увеличение вертикального пространства на 10 мм, сверхнизкий центр масс/ инерции, золотое соотношение нагрузки на ось 50:50 (по сравнению с BYD Han EV).
		</span>
		<br><br>
		<span class="news_text">
			5. Высоковольтная зарядка, 15 минут на 300 км хода.
		</span>
		<br><br>
		<span class="news_text">
			6. Подробная информация о CTB-решении BYD Seal:
		</span>
		<br><br>
		<span class="news_text">
			Аккумуляторная батарея шасси состоит из 172 элементов напряжением 3,2 В. В батареи отсутствуют модули. Верхняя крышка аккумулятора покрыта слоем полиуретанового амортизирующего материала для уменьшения вибрации. Пространство между батарейным блоком и боковой частью корпуса очень компактное, и вместе с поперечной балкой оно повышает боковую устойчивость.
		</span>
		<br><br>
		<img src="../images/news/byd_vs_tesla/4.png" alt="">
		<img src="../images/news/byd_vs_tesla/5.png" alt="">
		<span class="news_text">
			7. Боковая устойчивость - Испытание автомобилей на устойчивость во время экстремальных манёвров
		</span>
		<br><br>
		<span class="news_text">
			Конструктивные усовершенствования BYD Seal позволили добиться потрясающей поперечной устойчивости, что для высокопроизводительного седана с ускорением от 0 до 100 км/ч за 3,8 секунды дает ощущение превосходства над конкурентами как на прямой трассе, так и на поворотах!
		</span>
		<br><br>
		<span class="news_text">
			Давайте взглянем на результаты тестов elk между BYD Seal 4WD и Model 3 4WD 2019 (с решением 2170). Согласно официальному сайту BYD и сайту обзора автомобилей Испании “77km”, BYD Seal превзошел рекорд в 83 км/ч, установленный Model 3, со скоростью 83,5 км/ч! Это впечатляющий результат.
		</span>
		<br><br>
		<figure contenteditable="false" class="vid_figure">
			<div class="figure_wrapper">
				<video src="../images/news/byd_vs_tesla/490b57e5493814bd14bae.mp4" preload="auto" autoplay="autoplay" loop="loop" muted="muted">
				</video>
			</div>
			<span class="cursor_wrapper" contenteditable="true">
			</span>
			<figcaption dir="auto" class="editable_text" data-placeholder="Caption (optional)">
			</figcaption>
		</figure>
		<figure contenteditable="false" class="vid_figure">
			<div class="figure_wrapper">
				<video src="../images/news/byd_vs_tesla/408df74884e576e56ec27.mp4" preload="auto" autoplay="autoplay" loop="loop" muted="muted">
				</video>
			</div>
			<span class="cursor_wrapper" contenteditable="true">
			</span>
			<figcaption dir="auto" class="editable_text" data-placeholder="Caption (optional)">
			</figcaption>
		</figure>
		<strong><u>Аналитические выводы</u></strong>
		Схема CTB от BYD повышает <strong>прочность кузова</strong>, делает <strong>обслуживание аккумулятора</strong> относительно <strong>простым</strong>, <strong>улучшает</strong> <strong>ходовые качества</strong> и <strong>безопасность</strong> автомобиля. Однако система прямого воздушного охлаждения <u>делает отвод тепла менее эффективным</u>. Не смотря на это, хотя вариант Tesla 4680 имеет небольшое преимущество, <strong>запас хода BYD Seal</strong> будет не меньше, чем у Tesla Model 3 при низких температурах, благодаря увеличенной емкости литиевых батарей.

		<br><br>
		<strong>Убийца Tesla готов к заказу!</strong>
		<span class="news_text">
			<br><br>Всем EV🙌<br>
			Команда FORMULAEV.NET
		</span>
		<br><br>

	</div>
</div>

<div class="headers" style="font-size: 24px; margin-top: 100px; margin-bottom: 30px;">
	Еще больше новостей и актуальных горящих предложений размещено в нашем телеграм-канале
</div>
<div id="link_telchanel" style="text-align: center; margin-top: 20px; margin-bottom: 100px;">
	<a style="text-decoration:underline" href="https://t.me/it_car_by_channel">https://t.me/it_car_by_channel</a>
</div>