@{
	ViewData["Title"] = "Выход в продажу Xiaomi SU 7";
	ViewData["activePage"] = "newsPage";
	ViewData["Description"] = "Xiaomi SU 7 взорвали мировой рынок. В городах по всему Китаю люди выстраивались в очередь возле автосалонов Xiaomi, чтобы пройти тест-драйв или даже просто потрогать и сделать селфи| " + ViewData["Postfix"];
	ViewData["Keywords"] = "xiaomi, xiaomi su7, ксяоми, Минск, РБ, РФ, Беларусь, Китай, гарантия, доставка, кредит, лизинг, электромобили, новости, обзоры";
    Layout = "_Layout";
    ViewData["pathPrefix"] = "../";
}

<h1 style="text-align: center; font-size: 33px; font-weight: 500; margin-top: 50px;">Электромобили | Новости | Обзоры</h1>

<div id="all_page_news">
	<h2 id="publication_title">Первые дни после продажи Xiaomi SU 7 2024</h2>
	<div id="publication_date">FORMULAEV.NET Март 31, 2024</div>
	<div id="publication_description">
		<span class="news_text">
            В городах по всему Китаю люди выстраивались в очередь возле автосалонов Xiaomi, чтобы пройти тест-драйв или даже просто потрогать и сделать селфи.  Раньше я видел людей, настолько увлеченных электронными продуктами, только после выхода iPhone 6.          </span>
		<br><br>
        <img src="../images/news/xiaomi_first/2.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 1. Очередь возле автосалона Xiaomi в Китае</p>

		<span class="news_text">
            Да, электромобили — это в первую очередь электронные продукты, и им необходимо уделять достаточно внимания пользователям, по крайней мере, так считает Лэй Цзюнь.            </span>
        <br><br>
		
        <img src="../images/news/xiaomi_first/1.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 2. Очередь возле автосалона Xiaomi в Китае</p>
		
        <span class="news_text">
            Вас беспокоят производственные мощности Xiaomi?  Я не волнуюсь, коллеги из BAIC сказали мне, что помогут Xiaomi устранить некоторые узкие места производства. Xiaomi производит Su7 на совместном предприятии с BAIC, которая также является производителем arcfox и Mercedes-Benz.
		</span>
        <br><br>

        <img src="../images/news/xiaomi_first/3.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 3. Очередь внутри автосалона Xiaomi в Китае</p>

		<span class="news_text">
			<br>Всем EV🙌<br>
			Команда FORMULAEV.NET
		</span>
		<br><br>

	</div>
</div>

	<div class="tg_block_link">
		<div class="container">
			<div class="tg_block_holder">
				<div class="left_tg">
					<div class="left_tg_title">Присоединяйтесь к нашему телеграм-каналу</div>
					<div class="left_tg_text">Новости | Горячие предложения | Инженерные разборы | Оценки реальных пользователей</div>
				</div>
				<div class="right_tg">
					<div class="right_tg_btn">
						<a href="https://t.me/it_car_by_channel" class="right_tg_button">Подписаться</a>
					</div>
				</div>
			</div>
		</div>
	</div>