@{
	ViewData["Title"] = "Выход в продажу Xiaomi SU 7";
	ViewData["activePage"] = "newsPage";
	ViewData["Description"] = "Xiaomi SU 7 взорвали мировой рынок. 28 марта Лэй Цзюнь, основатель компании Xiaomi, объявил о старте продаж. Цены и версии Xiaomi SU 7 в Минске| " + ViewData["Postfix"];
	ViewData["Keywords"] = "xiaomi, xiaomi su7, ксяоми, Минск, РБ, РФ, Беларусь, Китай, гарантия, доставка, кредит, лизинг, электромобили, новости, обзоры, Лэй Цзюнь, продажи, выход, версии, комплектации";
    Layout = "_Layout";
    ViewData["pathPrefix"] = "../";
}

<h1 style="text-align: center; font-size: 33px; font-weight: 500; margin-top: 50px;">Электромобили | Новости | Обзоры</h1>

<div id="all_page_news">
	<h2 id="publication_title">28 марта Лэй Цзюнь объявил о старте продаж Xiaomi SU 7</h2>
	<div id="publication_date">FORMULAEV.NET Март 28, 2024</div>
	<div id="publication_description">
		<span class="news_text">
            Буквально пару часов назад Лэй Цзюнь, основатель Xiaomi, анонсировал свой инновационный электромобиль <b>Xiaomi SU7 2024</b>.
            В первые 27 минут открытия продаж поступило <b>50 000 заказов</b>!
        </span>
        <br><br>

        <img src="../images/news/xiaomi_su7/1.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 1. Цветовая палитра Xiaomi SU 7</p>

        <span class="news_text">
            <b>Итак, что по ценам (указаны под ключ в Минске): </b>
            <br><a href="car/5fd548e0-ac10-414e-9c13-9694e46afd61"><u>🔸Xiaomi SU7 2024 Standart Version: </u><i>35 800$</i></a>
            <br><a href="car/1b1fe247-110c-4d58-9df6-7078273eff00"><u>🔸Xiaomi SU7 2024 Pro Version: </u><i>39 900$</i> </a>
            <br><a href="car/7898db90-52a4-42ce-a534-7c86087eda00"><u>🔸Xiaomi SU7 2024 Max Version: </u><i>47 300$</i> </a>
		</span>
        <br><br>

		<img src="../images/news/xiaomi_su7/2.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 2. Интерьер Xiaomi SU 7</p>

        <img src="../images/news/xiaomi_su7/3.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 3. Интерьер Xiaomi SU 7</p>

        <img src="../images/news/xiaomi_su7/4.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 4. Интерьер Xiaomi SU 7</p>
        
        <img src="../images/news/xiaomi_su7/5.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 5. Интерьер Xiaomi SU 7</p>
		
        <span class="news_text">
            <b>Из доп.опций предлагаются:</b>
            <br>🔺Цвет авто (3 бесплатных / 6 платных +1000$)
            <br>🔺Варианты дисков с радиусами от 19 до 21 (3 бесплатных / 1 платный +1700$)
            <br>🔺Салон кожа наппа (+1100$)
            <br>🔺Цвет салона (бесплатно)
            <br>🔺Встроенный холодильник 4.6л (платно +280$)
            <br>🔺Электроспойлер сзади (Бесплатно при заказе до конца апреля)
		</span>
        <br><br>

        <span class="news_text">
            Мы уже <b>приобрели</b> несколько автомобилей и будем с нетерпением ждать их <b>в Минске</b>!! Кажется, Xiaomi действительно перевернул мир электромобилей!
        </span>
        <br><br>

        <img src="../images/news/xiaomi_su7/6.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 6. Сиденья в Xiaomi SU 7</p>

        <img src="../images/news/xiaomi_su7/7.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 7. Рассположение динамиков в сиденьях</p>

        <img src="../images/news/xiaomi_su7/8.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 8. Багажник в Xiaomi SU 7</p>

        <img src="../images/news/xiaomi_su7/9.jpg" alt="">
		<p class="news_img_dscrptn">Рисунок 9. Дополнительные опции Xiaomi SU 7</p>

		<span class="news_text">
            По вопросам комплектаций и заказа: <a href="tel:375296349842"><b id="mynumber"><br>+375 (29) 634-98-42</b></a> (все мессенджеры)
        </span>
		<br><br>

        <span class="news_text">
			<br>Всем EV🙌<br>
			Команда FORMULAEV.NET
		</span>
		<br><br>

	</div>
</div>

	<div class="tg_block_link">
		<div class="container">
			<div class="tg_block_holder">
				<div class="left_tg">
					<div class="left_tg_title">Присоединяйтесь к нашему телеграм-каналу</div>
					<div class="left_tg_text">Новости | Горячие предложения | Инженерные разборы | Оценки реальных пользователей</div>
				</div>
				<div class="right_tg">
					<div class="right_tg_btn">
						<a href="https://t.me/it_car_by_channel" class="right_tg_button">Подписаться</a>
					</div>
				</div>
			</div>
		</div>
	</div>