@using CarsClient;

@{
    ViewData["Title"] = "admin - Добавить авто";
    ViewData["activePage"] = "passengerPage";
    ViewData["Description"] = "Добавление авто | " +  GlobalVariables.Postfix;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["pathPrefix"] = "../";
}


<div class="row">
    <div id="form_create_wrapper">
        <form asp-action="Create" method="post" id="form_create" enctype="multipart/form-data">
            <div id="files_block_wrapper">
                <div id="exist_files_list"> </div>
                <input name="files" id="files_prop" class="custom-file-input" required accept=".jpg,.png" type="file" multiple="multiple" >
            </div>
            <input type="text" name="model" required placeholder="Модель"/>
            <input type="text" name="company" required placeholder="Производитель" />
            <input type="text" pattern="[0-9]*" name="price" required placeholder="Цена $" />
            <input type="text" name="color" required placeholder="Цвет"/>
            <input type="text" name="description" required placeholder="Описание" />
            <input type="text" name="cartype" required placeholder="Кузов" />
            <input type="text" pattern="[0-9]*" name="productionYear" required placeholder="Год производства" />
            <div id="separate_line_create"></div>
            <div id="properties_block">
                <div id="properties_list">
                    <div class="one_property">
                        <input type="checkbox" name="check1" value="check1"/>
                        <input type="text" placeholder="Свойство" class="onePropName_create prop_item_input" name="prop1"/>
                        <input type="text" placeholder="Значение" class="prop_item_input" name="val1" />
                    </div>
                </div>
                <div id="add_property">
                    <i class="fas fa-plus"></i> Добавить характеристику
                </div>
            </div>
            <div id="createButton_create_wrapper">
                <input type="submit" id="createButton_create" value="Добавить" class="btn btn-primary" />
           </div>
             
        </form>
    </div>
</div>

@section AfterBody{
    <script src="@ViewData["pathPrefix"]../js/adminCreateCar.js"></script>
}