body {
    font-family: 'Rubik', sans-serif;
    color: #fff;
  }
  .container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 16px;
  }
  .range {
    padding: 48px 0;
    background: #222;
  }
  .range__title {
    text-align: center;
    margin-bottom: 32px;
  }
  .range__slider {
    margin-bottom: 24px;
  }
  .range__values {
    display: flex;
    gap: 24px;
  }
  .range__values input {
    width: 100%;
    border: none;
    height: 48px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 18px;
    color: #fff;
  }
  .range__values input:nth-child(1) {
    background: #6a00ff;
    box-shadow: 0 0 16px #6a00ff;
  }
  .range__values input:nth-child(2) {
    background: #ff0052;
    box-shadow: 0 0 16px #ff0052;
  }
  .range__values input:focus {
    outline: none;
  }
  .noUi-connect {
    background: linear-gradient(90deg, #6a00ff 0%, #ff0052 100%);
  }
  .noUi-target {
    box-shadow: 0 0 16px #6a00ff;
    border: none;
    background: #111;
  }
  .noUi-handle {
    box-shadow: 0 4px 16px rgba(0,0,0,0.24);
    border: none;
    border-radius: 50%;
    background: #111;
  }
  .noUi-handle:before,
  .noUi-handle:after {
    display: none;
  }
  .noUi-handle-lower {
    background: #6a00ff;
    box-shadow: 0 0 16px #6a00ff;
  }
  .noUi-handle-upper {
    background: #ff0052;
    box-shadow: 0 0 16px #ff0052;
  }
  .noUi-horizontal {
    height: 13px;
  }
  .noUi-horizontal .noUi-handle {
    width: 24px;
    height: 24px;
    right: -12px;
  }
  