@using CarsClient;
@model IEnumerable<CarsClient.Models.Dto.CarShortInfo>

@{
    ViewData["Title"] = "Купить электромобили по ценам от Поставщика";
    ViewData["activePage"] = "passengerPage";
	ViewData["Description"] = "Электромобили Tesla, BYD, Volkswagen, Xpeng, Cherry и др. Надежные электрокары по сниженной цене. Доставка. Финансовая поддержка. Гарантии. Страховка. Круглосуточная связь | " + ViewData["Postfix"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="panel commercial">	
			<h1>Электромобили из Китая</h1>
		</div>
		
		<div id="car_list_id">
			<div id="list_border">
				<ul class="car_list" id="car_list">
					@foreach (var item in Model)
					{
						<li>
							<a href="car/@item.Id"><img src="@item.TitleImagePath" alt="no image"></a>
							<div class="short_car_info">
								<div id="name_car_list">
								<a href="car/@item.Id">@item.ModelName</a>
								</div>
								<ul>
									@foreach (var prop in item.Properties)
									{
										<li class="each_info">
											<div class="car_option">
												<img src="images/icons/road.png">
												<div>@prop.Property</div>
											</div>
											<div class="option_value">@prop.Value</div>
										</li>
									}
									<li class="each_info">
										<div class="car_option">
											<img src="images/icons/condition.svg">
											<div>Состояние</div>
										</div>
										<div class="option_value">Новое</div>
									</li>
								</ul>
								<div class="short_price">

									<a href="car/@item.Id" class="a_price">
										<div style="width: 100%; color: white;">
											Подробнее
										</div>
									</a>

								</div>
							</div>
						</li>
					}				
				</ul> 				
			</div>
		</div>	